.formulario{
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  padding: 2%;
  border: 1px solid gray;
  border-radius: 14px;
}

.erro{
  color: red;
  font-weight: bold;
  font-size: 13px;
}


.atualizar-usuario {
  background-color: lightblue;
  color: black;
  /* Outros estilos para o modo de atualização */
}

.cadastrar-usuario {
  background-color: lightgreen;
  color: white;
  /* Outros estilos para o modo de cadastro */
}
