<form class="formulario" (ngSubmit)="salvar()" #form="ngForm">
  <label class="mb-3">Nome:</label>
  <input class="form-control" type="text" name="nome" id="nome" (change)="validaNome()" [(ngModel)]="usuario.nome" required />
  <span class="erro" *ngIf="isNome">Nome Inválido</span>
  <br/>

  <label class="mb-3">Email:</label>
  <input class="form-control" type="email" name="email" id="email" (change)="validaEmail()" [(ngModel)]="usuario.email" required />
  <span class="erro" *ngIf="isEmail">E-mail Inválido</span>
  <br/>

  <label class="mb-3">Senha:</label>
  <input class="form-control" type="password" name="senha" id="senha" (change)="validaSenha()" [(ngModel)]="usuario.senha" required />
  <span class="erro" *ngIf="isSenha">Tipo de Senha Inválido</span>
  <br/>

  <button *ngIf="!isAtualiza" class="form-control" type="submit" [disabled]="form.invalid">Salvar</button>
  <button *ngIf="isAtualiza" class="form-control" type="submit">Atualiza</button>
</form>


